
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script src="http://assets.ropensci.org/js/jquery.js"></script>
    <script src="http://assets.ropensci.org/js/google-code-prettify/prettify.js"></script>
    <script src="../assets/js/jquery.tablesorter.min.js"></script>
    <script src="../assets/js/jquery.tablecloth.js"></script>
      <script type="text/javascript" charset="utf-8">
      $(document).ready(function() {
        $("table").tablecloth({
          theme: "paper",
          striped: true,
          sortable: true,
          condensed: true
        });
      });
    </script>
        <script type="text/javascript">
  $(document).ready(function () {
    $("[rel=tooltip]").tooltip();
  });
</script>

    <script src="http://assets.ropensci.org/js/bootstrap-transition.js"></script>
    <script src="http://assets.ropensci.org/js/bootstrap-alert.js"></script>
    <script src="http://assets.ropensci.org/js/bootstrap-modal.js"></script>
    <script src="http://assets.ropensci.org/js/bootstrap-dropdown.js"></script>
    <script src="http://assets.ropensci.org/js/bootstrap-scrollspy.js"></script>
    <script src="http://assets.ropensci.org/js/bootstrap-tab.js"></script>
    <script src="http://assets.ropensci.org/js/bootstrap-tooltip.js"></script>
    <script src="http://assets.ropensci.org/js/bootstrap-affix.js"></script>
    <script src="http://assets.ropensci.org/js/bootstrap-popover.js"></script>
    <script src="http://assets.ropensci.org/js/bootstrap-button.js"></script>
   <script src="http://assets.ropensci.org/js/bootstrap-collapse.js"></script>
     <script src="http://assets.ropensci.org/js/bootstrap-carousel.js"></script>
    <script src="http://assets.ropensci.org/js/bootstrap-typeahead.js"></script>
    <script src="http://assets.ropensci.org/js/application.js"></script>
    <!-- Equations using MathJax -->
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script type="text/x-mathjax-config"> MathJax.Hub.Config({ TeX: { equationNumbers: {autoNumber: "all"} } });       </script>

