  <body data-spy="scroll" data-target=".subnav" data-offset="50">

  <!-- Top Navigation -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button"class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="{{ site.url }}/index.html">DataONE</a>
          <div class="nav-collapse collapse">
            <ul class="nav">

            <li class=""><a href="#">Home</a></li>
            <li class=""><a href="#dataman">Why Data Management</a></li>
            <li class=""><a href="#opportunities">Opportunities</a></li>
            <li class=""><a href="#learning">Learning more</a></li>
            
            <li class="dropdown" id="menu1b">
            <a>&nbsp; Resources<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#outreachkit">Outreach kit</a></li>
              <li><a href="#webinars">Webinars</a></li>
              <li><a href="#tutorials">Tutorials</a></li>
              <li><a href="#onepage">One page synopsis</a></li>
              <li><a href="#primer">Data Management Primer</a></li>
              <li><a href="#links">Links</a></li>
            </ul>

            <li class=""><a href="#faq">FAQ</a></li>

            </ul>
          </div>
        </div>
      </div>
    </div>
  <!-- End Top Navigation -->

    <div class="container">